{% extends 'base.html' %}

{% block content %}
    <h2>Edit Task</h2>
    <form action="{{ url_for('update_task', task_id=task_id) }}" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{ task['title'] }}" required><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" required>{{ task['description'] }}</textarea><br>
        <input type="submit" value="Update Task">
    </form>
{% endblock %}